* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  scroll-behavior: smooth;
}

header {
  height: 8vh;
  position: fixed;
  top: 0;
  width: 100%;
}

nav {
  height: 100%;
  box-shadow: 0px 0px 80px 1px #8536f480;
  background-color: #f1e6ff;
}

nav img{
    height: 20px;
}

nav ul{
    list-style: none;
}

nav a{
    text-decoration: none;
}

#hero{
    background-color: #111;
    height: 100vh;
}
#hero2{
    height: 100vh;
}


#hero-div{
    height: 80vh;
    width: 80%;
}

#hero-div img{
height: 90%;
}